body {
  font-family: 'Helvetica';
  background-color: #8D99AE;
}
.menu {
  height: 46px;
  color: #EDF2F4;
  background-color: #2B2D42;
  align-items: center;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.all_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 25px;
  padding: 12px;
  background-color: #05A8AA;
  font-family: "Helvetica";
  color: #FFFFFF;
}
