body {
  font-family: 'Helvetica';
  background-color: #8D99AE;
}

h1{
  padding-left: 30px;
}
.login {
  height: 22px;
  color: #EF233C;
  background-color: #2B2D42;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}
.menu {
  height: 46px;
  color: #EDF2F4;
  background-color: #2B2D42;
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  padding-right: 10px;
}

.nav_links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav_links p {
  padding: 10px;
}

.all_cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  width: 300px;
  flex-direction: column;
  margin: 25px;
  padding: 12px;
  background-color: #EDF2F4;
  color: #2B2D42;
}

.card h2 {
  font-size: 16px;
}
.card p {
  font-size: 12px;
  color: #8D99AE;
}
.card a {
  display: flex;
  background-color: #8D99AE;
  color: #2B2D42;
  text-decoration: none;
  padding: 15px;
}

.card h3 {
  font-size: 14px;
}

.card h1 {
  color: #EF233C;
}
img {
  width: 300px;
  height: 200px;
}
